
<div data-id="{{ d.rand }}" class="container {{ d.className }} report-select-category">
    <label for="reportSelect{{ d.rand }}" class="form-label mb-1">{{ d.selectCategoryLabel }}</label>
    <select data-id="{{ d.rand }}" id="reportSelect{{ d.rand }}" class="form-select report-change-select" style="max-width: 400px">
        <option value="">{{ d.selectedFirstCategoryName }}</option>
        {% for s in d.selected %}
            <option value="{{ s.id }}">{{ s.name }}</option>
        {% endfor %}
    </select>
</div>