{% for d in data.data %}
    <div class="animate__animated animate__fadeIn template-one report-post {{ d.attr.className }} {{ d.bgClass }}">
        <div class="report-container container">
            <div class="row g-3 align-items-stretch {% if d.reverse %}flex-xl-row-reverse{% endif %}">
                <div class="col-xl-6 col-12 h-100 first-section">
                    {{ include('splide/splide-layout-template-1.twig') }}
                </div>
                <div class="col-xl-6 col-12 h-100 second-section">
                    {% for section in d.post.post_sections %}
                        {% set counter = ( counter | default(0) ) + 1 %}
                        {% if counter == 1 %}
                            <h2 class="post-title">{{ section.headline }}</h2>
                        {% else %}
                            <h5 class="section-header mb-0 fst-normal lh-1">
                                {{ section.headline }}
                            </h5>
                            <div class="section-content fst-normal pb-3">
                                {% if section.is_date %}
                                    {% if d.post.date_from_format %}
                                        {{ d.post.date_from_format }}
                                        {% if d.post.date_to_format %}
                                            {{ d.post.date_to_language }} {{ d.post.date_to_format }}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {{ section.content }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="report-excerpt pe-3 pt-3">
                        {{ d.post.excerpt }}
                    </div>
                    <div class="report-button pt-3">
                        <a {% if d.attr.buttonTargetAktiv %}
                            target="_blank"
                        {% endif %}
                                class="{{ d.attr.buttonCss }}"
                                href="{{ d.post.permalink }}">
                            {% autoescape false %}
                                {{ d.attr.buttonIcon }}
                            {% endautoescape %}
                            {{ d.attr.buttonLabel }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}