<div class="card-body pb-4 position-relative" style="min-height: 72vh">
    <div class="d-flex align-items-center">
        <div class="d-flex flex-fill align-items-center flex-wrap">
            <h5 class="card-title">
                <i class="font-yellow bi bi-arrow-right-circle"></i> {{ data.lang.headline }}
            </h5>
            <button type="button" title="{{ data.lang.cancel }}"
                    class="btn-preview-actions btn btn-outline-light border ms-auto">
                <i class="font-blue bi bi-x-lg"></i>
            </button>
        </div>
    </div>
    <hr>
    <div class="responseMessage col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-12 offset-0">
        <div class="card">
            <h5 class="card-header">{{ data.lang.card_header }}</h5>
            <div class="card-body">
                <form class="api-public-formular">
                    <input type="hidden" name="method" value="get_public_api_commands">
                    <div class="row g-3">
                        <div class="col-xl-6 col-12">
                            <label for="InputPublicClient" class="form-label">
                                {{ data.lang.input_id }}</label>
                            <input type="text" name="public_client" class="form-control"
                                   id="InputPublicClient" required>
                        </div>
                        <div class="col-xl-6 col-12">
                            <label for="InputPublicSecret" class="form-label">
                                {{ data.lang.input_secret }}</label>
                            <input type="text" name="public_secret" class="form-control"
                                   id="InputPublicSecret" required>
                        </div>
                        <div class="col-xl-6 col-12">
                            <label for="apiCommand" class="form-label">
                                {{ data.lang.select_execute }}</label>
                            <select onchange="change_command_select(this)" id="apiCommand" name="command"
                                    class="form-select" required>
                                <option value="">command...</option>
                                {% for s in data.select %}
                                    <option value="{{ s.id }}">{{ s.bezeichnung }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-6 col-12">
                            <label for="InputPublicExtra" class="form-label">
                                {{ data.lang.select_execute }}</label>
                            <input type="text" name="extra_command" class="form-control"
                                   id="InputPublicExtra" required disabled>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-blue">
                        <i class="bi bi-router"></i>&nbsp; {{ data.lang.button }}
                    </button>
                    <button type="button" class="btn-preview-actions btn btn-outline-light border text-body">
                        <i class="text-danger bi bi-x-lg"></i>&nbsp; {{ data.lang.cancel }}
                    </button>
                </form>
            </div>
        </div>
        <!--<hr>
        <button id="btnResetPublicApi" class="btn btn-blue-outline btn-sm"><i
                    class="fa fa-random"></i>&nbsp; {{ data.lang.btn_reset }}</button>
        <hr>-->
    </div>
    <small class="small d-block text-muted mt-1 position-absolute" style="bottom: .5rem; left: 1rem;">
       <i class="bi bi-info-circle text-danger"></i> next Extension update: {{ data.time }}
    </small>
</div>